In [1]:
import pandas_datareader as pdr
import pandas as pd
import datetime

In [2]:
start_date = datetime.datetime(2014, 1, 1)
end_date   = datetime.datetime(2022, 12, 31)

In [3]:
ticker_list = ['SP500']
df = pdr.DataReader(ticker_list, 'fred', 
                    start_date, end_date)

In [4]:
df.head()

              SP500
DATE
2014-01-01      NaN
2014-01-02  1831.98
2014-01-03  1831.37
2014-01-06  1826.77
2014-01-07  1837.88