In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://fred.stlouisfed.org/data/SP500.txt'

In [4]:
response = requests.get(url)

In [5]:
if response.status_code == 200:
    df = pd.read_csv(url,skiprows=44, sep='\s+')
else:
    print("Failed to fetch data from the source")

In [6]:
df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)

In [7]:
df.head()

              VALUE
DATE
2013-12-06  1805.09
2013-12-09  1808.37
2013-12-10  1802.62
2013-12-11  1782.22
2013-12-12  1775.50